@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) { */
:root {
  --background: rgb(8, 22, 41, 1);
  --foreground: rgb(156, 163, 175, 0.75);
  --cardText: rgb(255, 255, 255, 0.9);
}
/* } */

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--cardText);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  border-color: var(--cardText);
}

.prose pre {
  margin: 0 !important;
  background: transparent !important;
}

.prose code {
  background: rgba(0, 0, 0, 0.1);
  padding: 2px 4px;
  border-radius: 4px;
}
